<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Get information and schedules for currently showing and upcoming movies in Cinemas around Addis Ababa, Ethiopia.">
    <meta name="description" content="Check nearby Cinemas for movies you want to watch.">
    <meta name="robots" content="index,follow">

    <!-- Favicon -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">

    <title>EthioNow</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but now-client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
