<template>
    <div class="container">
        <div class="unauthorized" v-if="!(isLoggedIn && isUserAdmin)">
            You don't have sufficient permissions to access this page!
        </div>
        <div v-if="isLoggedIn && isUserAdmin">
            <h1>Dashboard</h1>

            <div class="content">

                <form id="add-movie-form"></form>

                <ul id="movie-list">
                    <li v-for="movie in all_movies" :key="movie.id" :data-id="movie.id">
                        <span>{{ movie.title }}</span>
                        <span>{{ movie.status }}</span>
                        <div id="edit"><i class="ion-android-create"></i></div>
                        <div id="remove"><i class="ion-android-close"></i></div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'dashboard',
  data() {
    return {
      isUserAdmin: false,
    };
  },
  mounted() {
    this.checkUser();
    this.initMovies();
  },
  watch: {
    /* eslint-disable */
    "user": function() {
      this.checkUser();
    },
    /* eslint-enable */
  },
  computed: {
    ...mapState('movies', ['all_movies']),
    ...mapState('auth', ['user', 'isLoggedIn']),
  },
  methods: {
    ...mapActions('movies', ['initMovies']),
    checkUser() {
      if (this.user.name === 'Jonathan Getachew') {
        this.isUserAdmin = true;
      } else {
        this.isUserAdmin = false;
      }
    },
  },
};
</script>

<style scoped>
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.container {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    margin-top: -13vh;
    height: 100vh;
}

.content{
    background: #fff;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

.unauthorized {
    text-align: center;
    color: #92140C;
    margin-top: 20vh;
}

h1{
    color: #5c616a;
    font-size: 54px;
    letter-spacing: 2px;
    margin-top: 120px;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 10px;
}

li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
}

li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

li div#edit{
    position: absolute;
    top: 0;
    right: 42px;
    background: rgba(83, 131, 211, 0.6);
    color: #fff;
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

li div#remove{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255, 54, 54, 0.6);
    color: #fff;
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 0;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: #999;
}
</style>
