<template>
  <div class="home">
    <MovieTile heading="Now Showing" :movies="nowShowingMovies" />
    <MovieTile heading="Coming Soon" :movies="comingSoonMovies" />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import MovieTile from '@/components/MovieTile.vue';

export default {
  name: 'home',
  components: {
    MovieTile,
  },
  mounted() {
    this.initNowShowing();
    this.initComingSoon();
  },
  computed: mapState('movies', ['nowShowingMovies', 'comingSoonMovies']),
  methods: mapActions('movies', ['initNowShowing', 'initComingSoon']),
};
</script>

<style scoped>
.home {
  margin-bottom: 3rem;
}
</style>
