<template>
  <div>
    <div v-if="movie == undefined" style="margin: 10px 10px;">
      Loading...
    </div>
    <l-map :zoom="zoom" :center="center" id="map" class="map-container" v-if="movie != undefined">
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
      <l-marker :lat-lng="centuryMallMarker" v-if="movie.cinemas.Century != null">
        <l-tooltip :options="{permanent: true, interactive: true}">
          <div @click="showDetails('Century')" class="tooltip-text">
            <span v-if="!centurySchedules">See </span>
            <span class="tooltip-movie-title">{{ movie.title }}</span>
            <br/>Schedules @CenturyMall
            <table v-show="centurySchedules" width="100%">
              <tr v-for="n in movie.cinemas.Century" :key="n">
                <td>{{ n.english }}</td>
                <td style="text-align: right;">{{ n.amharic }}</td>
              </tr>
            </table>
          </div>
        </l-tooltip>
      </l-marker>
      <l-marker :lat-lng="ednaMallMarker" v-if="movie.cinemas.Edna != null">
        <l-tooltip :options="{permanent: true, interactive: true}">
          <div @click="showDetails('Edna')" class="tooltip-text">
            <span v-if="!ednaSchedules">See </span>
            <span class="tooltip-movie-title">{{ movie.title }}</span>
            <br/>Schedules @EdnaMall
            <table v-show="ednaSchedules" width="100%">
              <tr v-for="n in movie.cinemas.Edna" :key="n">
                <td>{{ n.english }}</td>
                <td style="text-align: right;">{{ n.amharic }}</td>
              </tr>
            </table>
          </div>
        </l-tooltip>
      </l-marker>
    </l-map>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex';

import L from 'leaflet';
import {
  LMap, LTileLayer, LMarker, LTooltip,
} from 'vue2-leaflet';
// import Routing from 'leaflet-routing-machine';

// const map = L.map('map');

/* eslint-disable */
// To fix the markers not showing up problem
delete L.Icon.Default.prototype._getIconUrl;

L.Icon.Default.mergeOptions({
  
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),

});

// L.Routing.control({
//     waypoints: [
//         L.latLng(9.01941367350433, 38.813828229904175),
//         L.latLng(8.99738354983369, 38.78677546977997),
//     ]
// }).addTo(map);
/* eslint-enable */

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LTooltip,
  },
  mounted() {
    this.initMovie(this.$route.params.id);
  },
  watch: {
    /* eslint-disable */
    "$route.params.id": function() {
        this.initMovie(this.$route.params.id);
    },
    /* eslint-enable */
  },
  computed: {
    ...mapState('movie', ['movie']),
    ...mapGetters({
      movie: 'movie/movie',
    }),
  },
  data() {
    return {
      zoom: 14,
      center: L.latLng(9.008647797196012, 38.80027770996093),
      url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      centuryMallMarker: L.latLng(9.01941367350433, 38.813828229904175),
      ednaMallMarker: L.latLng(8.99738354983369, 38.78677546977997),
      centurySchedules: false,
      ednaSchedules: false,
    };
  },
  methods: {
    ...mapActions('movie', ['initMovie']),
    showDetails(cinema) {
      if (cinema === 'Century') this.centurySchedules = !this.centurySchedules;
      else if (cinema === 'Edna') this.ednaSchedules = !this.ednaSchedules;
    },
  },
};
</script>

<style scoped>
/* Don't remove -> will cause rendering issue */
@import "~leaflet/dist/leaflet.css";

.map-container {
  height: 90vh;
  margin: 0;
}

.tooltip-movie-title {
  color: #5383d3;
  font-weight: 700;
}

.tooltip-text {
  font-size: 16px;
}
</style>
