<template>
    <header class="header">

        <div class="header-limiter">

            <h1><router-link to="/">Ethio<span>Now</span></router-link></h1>

            <!-- <ul v-if="!isLoggedIn">
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign up</a></li>
            </ul> -->

            <div class="header-user-menu" v-if="isLoggedIn">
                <img :src="user.image" alt="User Image"/>

                <ul>
                    <li><router-link to="/account">Profile</router-link></li>
                    <li><a class="highlight" href="#" @click.prevent="logout()">Logout</a></li>
                </ul>
            </div>

        </div>

    </header>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  computed: mapState('auth', ['user', 'isLoggedIn']),
  methods: mapActions('auth', ['logout']),
};
</script>


<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Cookie');
.header{
    padding: 20px 40px;
    box-sizing:border-box;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    height: 80px;
    background-color: #fff;
    z-index: 999;
}

.header .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

/* Logo */
.header .header-limiter h1{
    float: left;
    font: normal 32px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 3px 10px 0 0;
}

.header .header-limiter h1 span {
    color: #5383d3;
}

/* The header links */
.header .header-limiter a {
    color: #5c616a;
    text-decoration: none;
}

/* Login/Sign up buttons */
.header .header-limiter ul {
    font: 14px Arial, Helvetica, sans-serif;
    list-style: none;
    line-height: 1;
    float: right;
}

.header .header-limiter ul li {
    display: inline-block;
    margin-left: 15px;
    opacity:0.9;
}

.header .header-limiter ul li:hover{
    opacity: 1;
}

/* The sign up button */
.header .header-limiter ul li:last-child a {
    font-weight: bold;
    background-color: #eaf0f2;
    padding: 10px 15px;
    border-radius: 3px;
}

/* The user menu */
.header .header-limiter .header-user-menu{
    position: relative;
    float:right;
    background-color:#eaf0f2;
    width:75px;
    height:40px;
    border-radius:2px;
    z-index: 99;
}

.header .header-limiter .header-user-menu:before{
    content:'';
    width:0;
    height:0;
    top: 18px;
    left: 15px;
    position:absolute;
    border:5px solid transparent;
    border-top-color:#5c616a;
}

.header .header-limiter .header-user-menu ul{
    display: none;
    font:bold 13px Arial, Helvetica, sans-serif;
    background-color: inherit;
    list-style: none;
    position: absolute;
    text-align: center;
    width: 125px;
    top: 25px;
    right: 0;
    padding: 10px;
    border-radius: 2px;
    box-sizing: border-box;
}

.header .header-user-menu:active ul,
.header .header-user-menu:hover ul,
.header .header-user-menu.show ul{
    display:block;
}

.header .header-user-menu ul li{
    padding:5px;
    margin-left: 0px;
    margin-top: 5px;
}

.header .header-user-menu ul li a:hover,
.header .header-user-menu ul li router-link:hover {
    opacity:0.9;
}

.header .header-user-menu ul li a.highlight,
.header .header-user-menu ul li router-link.highlight {
    color:#e9ac09;
    background-color: transparent;
}

.header .header-user-menu img {
    border-radius:50%;
    position:absolute;
    top:6px;
    max-width: 28px;
    right:10px;
}

/* Making the header responsive. */
@media all and (max-width: 600px) {
    .header {
        padding: 20px 40px;
        height: 80px;
    }

    .header .header-limiter ul {
        position: absolute;
        top: 20px;
        right: 30px;
    }

    .header .header-limiter ul li {
        margin-left: 5px;
    }

    .header .header-limiter .header-user-menu {
        position: absolute;
        top: 20px;
        right: 30px;
    }
}
</style>
