<template>
    <div>
        <hr class="category-heading" :data-content="heading" >
        <div v-if="movies.length < 1" class="grid-container">
            <img src="@/assets/spinner.gif" alt="Loading...">
        </div>
        <div class="grid-container">
            <figure class="movie-tile" v-for="movie in movies" :key="movie.id">
                <img :src="movie.poster" :alt="movie.title + ' poster'" />
                <div class="duration" v-if="heading != 'Coming Soon'">
                    <span class="hour">{{ movie.duration.hours }}H</span>
                    <span class="minute">{{ movie.duration.minutes }}M</span>
                </div>
                <div class="duration" v-if="heading == 'Coming Soon'">
                    <span class="hour" style="font-size: 22px; margin-top: 7px;">
                        {{ movie.type }}
                    </span>
                </div>
                <figcaption>
                    <h3>{{ movie.title }}</h3>
                </figcaption>
                <div class="hover" v-if="heading != 'Coming Soon'">
                    <i class="ion-android-open"></i>
                </div>
                <router-link
                    :to="{
                        name: 'movie',
                        params: { id: movie.id } }"
                    v-if="heading != 'Coming Soon'">
                </router-link>
            </figure>
        </div>
    </div>
</template>

<script>
export default {
  props: {
    heading: String,
    movies: Array,
  },
};
</script>

<style scoped lang="scss">
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.category-heading {
  line-height: 2.5em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  color: #5383d3;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 2.5em;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #5383d3, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #5383d3;
    background-color: #fff;
  }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 10px;
    margin-left: 15px;
}

.grid-container img {
    margin: auto;
}

.movie-tile {
    background-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 250px;
    height: 350px;
}

.movie-tile * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.movie-tile img {
    width: 100%;
    vertical-align: top;
    position: relative;
}

.movie-tile figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.movie-tile .duration {
    background-color: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 800;
    min-height: 48px;
    min-width: 48px;
    padding: 10px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: uppercase;
    top: 0;
}

.movie-tile .duration span {
    display: block;
    line-height: 14px;
}

.movie-tile .duration .minute {
    font-size: 11px;
}

.movie-tile h3{
    margin: 0;
    padding: 0;
}

.movie-tile h3 {
    font-weight: 800;
    letter-spacing: -0.4px;
}

.movie-tile .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: rgba(84, 131, 211, 0.3);
    display: flex;
    font-size: 45px;
    justify-content: center;
    opacity: 0;
}

.movie-tile a,
.movie-tile router-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.movie-tile:hover .hover,
.movie-tile.hover .hover {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    opacity: 1;
}

.movie-tile:hover figcaption,
.movie-tile.hover figcaption {
    opacity: 0;
}

.movie-tile:hover .duration,
.movie-tile.hover .duration {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
</style>
