<template>
  <div id="app">
    <Header
      v-if="!['pagenotfound']
      .includes($route.name)"/>
    <router-view></router-view>
  </div>
</template>

<script>
import Header from '@/components/Header.vue';

export default {
  components: {
    Header,
  },
};
</script>

<style>
html{
  background-color: #eaf0f2;
}

body {
  margin:0;
  padding:0;
}
</style>
